<html>
    <head>
         <title>Snap Class | AI powered Attendance System</title>
         <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
          <link rel="icon" type="image/png" href="{{url_for('static', filename='img/logo.png')}}">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>

        <nav class="navbar">
            <div class="logo">
                <img src="{{url_for('static', filename='img/logo.png') }}" style="height:32px" alt="Snap Class Logo">
                <div class="logo-text">Snap Class</div>
            </div>

            <div class="nav-links">
                <a href="#">Home</a>
                <a href="#features">Features</a>
                <a href="#journey">Journey</a>
                <a href="#tech">Tech Stack</a>
               </div>

            <div class="nav-cta">
                <a href="https://snapclass.streamlit.app/" class="btn-cta">
                    Start AI Attendance
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd"></path></svg>
                </a>
            </div>

        </nav>

        <header class="hero">
            <div class="badge">
                Welcome TO Snap Class
            </div>

            <h1>AI Powered <br>Attendance <span>System</span></h1>
            <p>Revolutionizing the classroom with next-gen computer vision and voice biometrics. Trusted by educators for speed, accuracy, and security.</p>
            <div class="hero-actions">
                  <a href="https://snapclass.streamlit.app/" class="btn-cta">
                    Start AI Attendance
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd"></path></svg>
                </a>

                   <a href="journey" class="link-action"> Explore Journey</a>

            </div>

            <div class="floating-card card-left">
                <div class="card-img">
                    <img src="{{url_for('static', filename='img/demo/snap-class-front-page.png') }}" alt="landing img 1">
                </div>
            </div>

            <div class="floating-card card-right">
                <div class="card-img">
                    <img src="{{url_for('static', filename='img/demo/attendance-report.png') }}" alt="landing img 2">
                </div>
            </div>
            
        </header>


    <section id="features" class="features">
        <h2>Innovative Features</h2>
        <div class="feature-grid">
            <div class="features-card">
                <div class="f-icon-box">📷</div>
                <h3>AI Face Analysis</h3>
                <p>
                    Advanced neural networks recognize every student's face from a single class photo, making attendance instant and accurate.
                </p>
            </div>
            <div class="features-card">
                <div class="f-icon-box">🎙️</div>
                <h3>Sequential Voice ID</h3>
                <p>
                   Students say "Present" one-by-one, and our audio-AI matches their voice biometrics against stored embeddings in real-time.
                </p>
            </div>
            <div class="features-card">
                <div class="f-icon-box">📱</div>
                <h3>QR Driven Roster</h3>
                <p>
                    Course codes generate unique QR codes for instant student enrollment. No more manual entry or data management headaches.
                </p>
            </div>
        </div>
    </section>

    <section id="journey" class="teacher-flow">
        <div class="flow-container">
            <div class="section-tag" style="text-align: center; margin-bottom: 40px; display: block;" >-- Workflow</div>
            <h2 style="text-align: center; font-size: 3.5rem; margin-bottom: 80px;">The teacher's Journey</h2>

            <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 01</div>
                    <h3>Secure Login</h3>
                    <p>Start your session with our high-security authentication portal. Your data is encrypted and synced across all your devices.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/teacher-login-dashboard.png') }}" alt="flow image">
            </div>

             <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 02</div>
                    <h3>Interactive Dashboard</h3>
                    <p>Manage all your subjects, attendance logs, and student rosters from a single, beautiful unified stream.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/take-attendance-dashboard.png') }}" alt="flow image">
            </div>

             <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 03</div>
                    <h3>Course Management</h3>
                    <p>Creating a new subject is a breeze. Just name it, and SnapClass generates everything you need to start tracking.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/create-new-sub-dashboard.png') }}" alt="flow image">
            </div>

             <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 04</div>
                    <h3>Face ID Attendance</h3>
                    <p>Use high-speed computer vision to scan the entire room. Our AI identifies every student from a single class photo in milliseconds.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/take-attendance-with-photo-dashboard.png') }}" alt="flow image">
            </div>

             <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 05</div>
                    <h3>Voice ID Attedance</h3>
                    <p>Switch to voice mode for a futuristic roll-call. Students speak sequentially, and our AI matches their unique voice signatures.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/voice-attendance-dashboard.png') }}" alt="flow image">
            </div>

             <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 06</div>
                    <h3>Actionable Records</h3>
                    <p>Review and manage historical logs. View confidence scores, download CSV reports, and track long-term Attendance.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/attendance-record-dashboard.png') }}" alt="flow image">
            </div>
        </div>
    </section>

    <section id="tech" class="tech-stack">
        <div class="section-tag">-- Our Backend --</div>
        <h2>Advance Teach Stack</h2>

        <div class="tech-grid">
            <div class="tech-item">
                <div class="tech-card">
                    <div class="t-icon">⚡</div>
                    <h4>Streamlit $ Flask</h4>
                    <p>Reactive frontend architecture paired with a robust Flask landing layer.</p>
                    <span class="tech-tag">Platform</span>

                </div>
                
            </div>

            <div class="tech-item">
                <div class="tech-card">
                    <div class="t-icon">👁️</div>
                    <h4>Face Registration</h4>
                    <p>Leveraging Face Recognition and Dlib for high-fidelity facial biometrics.</p>
                    <span class="tech-tag">Vision AI</span>

                </div>
                
            </div>

            <div class="tech-item">
                <div class="tech-card">
                    <div class="t-icon">🎙️</div>
                    <h4>Voice Embeddings</h4>
                    <p>Utilizing Resemblyzer and Librosa for unique student voice signatures.</p>
                    <span class="tech-tag">Audio AI</span>

                </div>
                
            </div>
            <div class="tech-item">
                <div class="tech-card">
                    <div class="t-icon">☁️</div>
                    <h4>Supabase Cloud</h4>
                    <p>Real-time PostgreSQL infrastructure with secure auth and sync.</p>
                    <span class="tech-tag">Storage</span>

                </div>
                
            </div>
        </div>
    </section>

     <section id="student-journey" class="teacher-flow">
        <div class="flow-container">
            <div class="section-tag" style="text-align: center; margin-bottom: 40px; display: block;" >-- Workflow</div>
            <h2 style="text-align: center; font-size: 3.5rem; margin-bottom: 80px;">The teacher's Journey</h2>

            <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 01</div>
                    <h3>Secure Login</h3>
                    <p>Start your session with our high-security authentication portal. Your data is encrypted and synced across all your devices.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/student-log-in.png') }}" alt="flow image">
            </div>

             <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 02</div>
                    <h3>Interactive Dashboard</h3>
                    <p>Manage all your subjects, attendance logs, and student rosters from a single, beautiful unified stream.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/take-attendance-dashboard.png') }}" alt="flow image">
            </div>

             <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 03</div>
                    <h3>Course Management</h3>
                    <p>Creating a new subject is a breeze. Just name it, and SnapClass generates everything you need to start tracking.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/student-dashboard.png') }}" alt="flow image">
            </div>

             <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 04</div>
                    <h3>Face ID Attendance</h3>
                    <p>Use high-speed computer vision to scan the entire room. Our AI identifies every student from a single class photo in milliseconds.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/take-attendance-with-photo-dashboard.png') }}" alt="flow image">
            </div>

             <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 05</div>
                    <h3>Voice ID Attedance</h3>
                    <p>Switch to voice mode for a futuristic roll-call. Students speak sequentially, and our AI matches their unique voice signatures.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/voice-attendance-dashboard.png') }}" alt="flow image">
            </div>

             <div class="flow-step">
                <div class="flow-content">
                    <div class="step-badge">Step 06</div>
                    <h3>Actionable Records</h3>
                    <p>Review and manage historical logs. View confidence scores, download CSV reports, and track long-term Attendance.</p>
                </div>
            </div>
            <div class="flow-image">
                <img src="{{url_for('static', filename='img/demo/attendance-record-dashboard.png') }}" alt="flow image">
            </div>
        </div>
    </section>

    <section class="purple-section">
        <h2>Ready to Upgrade Your classroom</h2>
        <p>Join thousands of educators who have simplified their day with SnapClass. The smartest AI powered attendance system is just one click away.</p>
        <a href="" class="btn-white">Start AI Attenddance Now</a>
    </section>

    <footer class="main-footer">
        <div class="footer-grid">
            <div class="footer-brand">
                <div class="logo">
                <img src="{{url_for('static', filename='img/logo.png') }}" style="height:32px" alt="Snap Class Logo">
                <div class="logo-text">Snap Class</div>
                <p>
                    The next generation of classroom management, powered by advanced AI biometrics. Join the future of education today.
                </p>
            </div>
            </div>

            <div class="footer-links">
                <h4>Products</h4>
                <ul>
                    <li>
                        <a href="#features">AI Attendance</a>
                    </li>
                      <li>
                        <a href="#features">Smart Roster</a>
                    </li>
                      <li>
                        <a href="#tech">Tech Stack</a>
                    </li>
                      <li>
                        <a href="#student-journey">Student Portal</a>
                    </li>
                </ul>
            </div>

                <div class="footer-links">
                <h4>Experience</h4>
                <ul>
                    <li>
                        <a href="#journey">Teacher Journey</a>
                    </li>
                      <li>
                        <a href="#student_journey">Student Journey</a>
                    </li>
                      <li>
                        <a href="#features">Voice ID Roll-Call</a>
                    </li>
                      <li>
                        <a href="#feautres">Face ID Scan</a>
                    </li>
                </ul>
            </div>

                <div class="footer-links">
                <h4>Company</h4>
                <ul>
                    <li>
                        <a href="#">About US</a>
                    </li>
                      <li>
                        <a href="#features">How it works</a>
                    </li>
                      <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                      <li>
                        <a href="#">Terms of use</a>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <p>&copy; Snapclass AI. Built for educators everywhere.</p>
        </div>
    </footer>

    </body>
</html>